:root{
    --text-colour: #2D3142;
    --button-background-colour: #99C1B9;
    --font-family:"Edu SA Hand", cursive;
    --background-colour: #CADBC0;


    --notes-container-background: #F4A698;
    --notes-container-text-colour: #FFFFFF;
    --notes-overview-items-background: #2D3142;
}

body{
    background: var(--background-colour);
    color: var(--text-colour);
}

h1,#note-name-input{
    font-size: 2.5em;
    margin-bottom: 0.4em;
}

button{
    background-color: var(--button-background-colour);
    border-radius: 1em;
    border: var(--text-colour) dashed 0.15em;

    cursor: pointer;
}
button:hover{
    border-style: solid;
    background-color: var(--text-colour);
    color:  var(--button-background-colour);
}

#everything{
    width: clamp(60vw, 70vw, 80vw);
    height: 100vh;
    padding: 6vh 10vw;

    font-family: var(--font-family);

    margin: 0 auto;
}

#notes-preview-section, #note-content-input{
    width: 100%;
    height: 60%;

    background-color: var(--notes-container-background);
    border: var(--text-colour) dashed 0.15em;
    border-radius: 1em;

    display: flex;
    flex-direction: column;

    padding: 2% 2% 5% 2%;
}

#search-and-create-section{
    display: flex;
    justify-content: space-between;

    margin-bottom: 2%;
}

#tag-search-bar{
    border-style: none;
    outline: none;

    border-radius: 1em;
    padding: 0.5% 1%;

    background-color: var(--notes-overview-items-background);
    color: var(--notes-container-text-colour);

    font-family: var(--font-family);
}


#notes-preview-cards-container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    flex-grow: 1;

    gap: 1.2em 1em;

    padding: 1em 0;

    overflow: clip;
    overflow-clip-margin: 0.5em;

    position: relative;
}

.note-preview-card{
    height: 30%;
    width: 15%;
    padding: 0 2%;

    border-radius: 1em;
    background-color: var(--notes-overview-items-background);

    color: var(--notes-container-text-colour);

    cursor: pointer;

    position: relative;

    flex-grow: 1;

}

.note-preview-card:hover{
    flex-grow: 3;
}
.note-preview-card:hover .note-name-preview{margin: 1.2em 0 1.2em 0;}

.note-name-preview,.note-content-preview{
    max-width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    position: relative;
}
.note-name-preview{font-size: 1.2em; margin: 1.2em 0 0.5em 0;}
.note-content-preview{opacity: 0.7; font-size: 0.7em;}

.note-delete-button{
    display: inline;

    position: absolute;
    left: 0;
    top: 0;

    transform: translateY(-0.5em) translateX(-0.3em);
}


/* utility classes */
.has-transition{
    transition-property: all;
    transition-duration: 0.3s;
}


/* for the note-edit file */
textarea{
    resize: none;
    outline: none;
    padding: 0;
    field-sizing: content;

    font-family: var(--font-family);
    color: var(--text-colour)
}

nav{
    display: flex;
    justify-content: flex-end;
}
#to-dashboard-button{
    margin-right: auto;
}

#note-name-input{
    padding: 0;
    border: none;

    height: 1.9em;
    font-size: 1.9em;

    background-color: transparent;
    font-weight: bolder;
}
#note-content-input{
    font-size: 1em;
}