@keyframes everything-enter {
    0% {
        transform: translateY(-1.2em);
        opacity: 0;
        gap: 0;
    }

    40% {
        gap: 0.8em;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        gap: 0;
    }
}

@keyframes note-preview-card-exit {
    80% {
        opacity: 1;
        border-radius: 1em;
    }

    100% {
        opacity: 0;
        width: 0%;
        padding: 0;
        margin: 0;
        display: none;
        border-radius: 0;
    }
}

@keyframes note-preview-card-enter {
    80% {
        opacity: 0;
        width: 0%;
        padding: 0;
        display: none;

    }

    100% {
        opacity: 1;
        width: 15%;
        padding: 0 2%;
        display: flex;
    }
}

:root {
    --text-colour: #2D3142;
    --button-background-colour: #99C1B9;
    --font-family: "Edu SA Hand", cursive;
    --background-colour: #D5C6E0;
    --selection-color: #192A51;


    --notes-container-background: #AAA1C8;
    --notes-container-text-colour: #FFFFFF;
    --notes-overview-items-background: #2D3142;
}

::selection{
    background-color: var(--selection-color);
    color: white;
}

::-moz-selection{
    background-color: var(--selection-color);
    color: white;
}

body {
    background: var(--background-colour);
    color: var(--text-colour);
}

h1,
#note-name-input {
    font-size: 2.5em;
    margin-bottom: 0.4em;
}

button {
    background-color: var(--button-background-colour);
    border-radius: 1em;
    border: var(--text-colour) dashed 0.13em;
}

button:hover {
    border-style: solid;
    background-color: var(--text-colour);
    color: var(--button-background-colour);
}

#everything {
    width: clamp(60vw, 70vw, 80vw);
    height: 100vh;
    padding: 6vh 10vw;

    font-family: var(--font-family);

    margin: 0 auto;

    display: flex;
    flex-direction: column;

    animation-name: everything-enter;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-direction: 1;
}

#notes-preview-section,
#note-content-input {
    width: 100%;
    height: 60%;

    background-color: var(--notes-container-background);
    border: var(--text-colour) dashed 0.15em;
    border-radius: 1em;

    display: flex;
    flex-direction: column;

    padding: 1em 1em 2em 1em;
}

#search-and-create-section {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1em;
}

#note-search-input {
    border-style: none;
    outline: none;

    border-radius: 1em;
    padding: 0.25em 0.5em;

    background-color: var(--notes-overview-items-background);
    color: var(--notes-container-text-colour);

    font-family: var(--font-family);
}


#notes-preview-cards-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;

    flex-grow: 1;

    gap: 1.2em 1em;

    padding: 1em 0;

    overflow: hidden;

    position: relative;
}

.note-preview-card {
    height: 30%;
    width: 15%;
    padding: 0 1em;

    border-radius: 1em;
    background-color: var(--notes-overview-items-background);

    color: var(--notes-container-text-colour);

    position: relative;

    flex: 1;
}

@media (max-width: 600px) and (orientation: portrait) {
    #notes-preview-cards-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .note-preview-card {
        width: auto;
    }
}

.note-preview-card:has(.click-to-open-note-div:hover) {
    flex-grow: 3;
}

.note-preview-card:hover .note-name-preview {
    margin: 1.2em 0 1.2em 0;
}

.note-name-preview,
.note-content-preview {
    max-width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    position: relative;
}

.note-name-preview {
    font-size: 1.2em;
    margin: 1.2em 0 0.5em 0;
}

.note-content-preview {
    opacity: 0.7;
    font-size: 0.7em;
}

.note-delete-button {
    display: inline;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    transform: translateY(-0.5em) translateX(-0.05em);
}


/* utility classes */
.has-transition {
    transition-property: all;
    transition-duration: 0.3s;
}

.clickable {
    cursor: pointer;
}

/*animation*/
.preview-card-exit {
    animation-name: note-preview-card-exit;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: 1;
}

.preview-card-enter {
    animation-name: note-preview-card-enter;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: 1;
}

/* for the note-edit file */
textarea {
    resize: none;
    outline: none;
    padding: 0;
    field-sizing: content;

    font-family: var(--font-family);
    color: var(--text-colour)
}

nav {
    display: flex;
    justify-content: flex-end;
}

#to-dashboard-button {
    margin-right: auto;
}

#note-name-input {
    padding: 0;
    border: none;

    height: 1.9em;
    font-size: 1.9em;

    background-color: transparent;
    font-weight: bolder;
}

#note-content-input {
    font-size: 1em;
}